
.chart-wrapper{
    height: 250px;
    width: 300px;    
}

.chart-body{
    height: 600px;
    width: 700px;    
}

.chart-body button{
    margin:15px;
    padding:7px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.chart-body button:active{
    opacity: .7;
}

.filter-off{
    opacity: .4 !important;
}

.filter-on{
    background-color: rgb(55, 91, 158);
    color: white;
}

.filter-container{
    border:1px solid red;
    width: 100vw;
}

.separate-chart{
    border:1px solid green;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap:40px;
}

.btn-main-switch{
    display: flex;
}