:root{
    --white: #e7eded;
    --darkGreen: #16796f;
    --lightGreen: #7cb7af;
    --header: #9ca89e;
    --blue:#3a6ea5;
    --pink: rgba(190, 33, 33, 0.534);
}

button.button-blue{
    border-radius: 21px !important;
    background: var(--blue) !important;
}

@media (max-width: 570px) {
   
  .extractedElement img{
    width: calc(100vw - 65px);
}

}


html{
     scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge (legacy) */
}


.html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.comp-wrapper{
    border:rgba(131, 64, 64, 0.63) 3px solid;
    margin:20px 0px;
    padding:10px;
    background-color: rgba(211, 209, 209, 0.301);
}

h1{
    font-size: 20px;
    color:var(--blue)
}

.docs.comp-wrapper h1{
    align-items: center;
    display: flex;
    gap: 10px;
}



.form-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap:30px 10px;
    padding-bottom: 300px;
    justify-content: center;
}



.identifier{
    color:var(--pink);
    grid-column: 1 / -1;
}

.calender{
    background-color: white;
}


.extractedElement{
    width: fit-content;
    border: 2px solid rgb(182 182 182);
    border-radius: 4px;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}
.extractedElement:hover{
    opacity: .8;
}


.data-extract-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    margin:15px 0;
}

.data-extract-container button{
    height: fit-content;
}

.extractedElement img{
    margin-top: 20px;
    max-width: 489px;
}

.extractedElement img{
    cursor: pointer;
}

.extractedText{
    width: 300px;
    overflow: auto;
    padding: 7px;
    
    background-color: rgb(197, 196, 196);
}
.nowExtractInfo::before{
    content:"Please extract";
    display: block;        
    color: red;           
    font-weight: bold;    
    margin-bottom: 4px;   
}


.extractedText.has-right-shadow {
  box-shadow: inset -8px 0 6px -4px rgba(0, 0, 0, 0.3);
}
.extractedText.has-left-shadow {
  box-shadow: inset 8px 0 6px -4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: gray;
  box-shadow: 0 0 1px white;
}


.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0;
}


.full-width{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    gap: 26px 25px;
    padding: 0 54px;
}

.button-save-db{
    height: fit-content;
    align-self: center;
}

.input-wide{
    width: 200px;
}


.petNameInput__wrapper{
    padding:50px 100px;
}

.doc-item{
    width: 200px;
    height: 200px;
    border:10px solid rgb(148, 148, 148);
    position: relative;
    cursor: pointer;                 
    transition: 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.22);
}

.doc-item:hover{
    border: 2px solid rgb(148, 148, 148);
    opacity: .6;
}

.doc-item-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}

.docs-expand-img:hover{
    opacity: 1;
}

.docs-expand-img{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    opacity: .7;
}

.docFile{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.doc-wrapper{
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.doc-wrapper.hide{
    visibility: hidden;
    position: absolute;
}

.doc-name{
    width: fit-content;

}

.doc-owner{
    display: inline;
    color: var(--darkGreen);
    font-size: small;
    padding: 3px 5px;
    background: white;
    margin-right: 5px!important;
    border-radius: 5px;
    width: fit-content;
}

.toggleVisibility.upside svg{
    transform: rotate(180deg);
    transition: 0.4s ease-in;
}

.toggleVisibility svg{
    margin: auto 0;
    display: flex;
    transition: 0.4s ease-in;
}



.notifocation-message-abs{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 20px 50px;
    background: #fbc767;
    z-index: 9999999;
    position: fixed;
    width: 100vw;
    height: 70px;
    top: 0;
    align-items: center;
    transition: top 2s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.4s ease;
    top: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.notifocation-message-abs p{
    align-items: center;
    display: flex;
    font-size: 22px;
    gap: 15px;
    align-items: end;
    color: #4b4b4b;
    
    align-items: center;
}

.notifocation-message-abs p svg{
    margin-bottom: 10px;
}
.notifocation-message-abs.hide{
    transition: top 2s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.4s ease;
    top:-75px
}

/* messages comp */
@media (max-width: 508px) {
    .notifocation-message-abs p{
        font-size: 16px;
        width: 171px;
    }

    
    .notifocation-message-abs p svg{
        margin-bottom: 4px;
    }

}



.top-line{
    padding:30px 10px;
    border-top:1px solid rgb(73, 73, 73);
    margin: 61px 37px 0 37px !important;
}

h2{
    display: flex;
    gap:5px;
    width: 100% !important;
    margin: 7px 37px !important;
}




.menu-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: var(--header);
    width: 100%;
    top: 0;
    z-index: 99;
    padding: 48px;
    
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}


.menu-wrapper.withoverlay{
    z-index: -1;
}

.menu-wrapper,
.menu-wrapper-space{
    height:92px;
}

.menu-logged{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 0px 12px;
}

.menu-overlay,
.menu-overlay.hide {
    background: #000;
    position: absolute;
    height: 100vh;
    width: 265px;
    left: 0;
    top: 0;
    visibility: hidden;
    transform: translatex(-300px);
    z-index: 99999;
    transition: 0.3s ease-in-out;
    box-shadow: inset -4px 0 8px -6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.menu-overlay:not(.hide) {
    visibility: visible;
    transform: translatex(0px);
}

.menu-overlay:not(.hide) + svg{
    color:white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}

.menu-overlay .menu-links a {
    padding: 10px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
}


.menu-overlay .menu-links{
    display: grid !important;
    background:inherit;
    border:none;
}

.menu-icon{
    display: none !important;
}

.menu-logo-wrapper{
    position: relative;
    height: 51px;
    width: 216px;
    justify-content: end;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 23px;
}
.menu-logo{
    height: 51px;
    border-radius: 25px;
    z-index: 2;
    position: absolute;
    left:0;
}
.menu-logo-abs{
    position: absolute;
    left: -2px;
    top: -3.5px;
    width: 223px;
    object-fit: contain;
}

.menu-left{
    display: flex;
    gap: 19px;
    align-items: center;
}

.menu-header-abs {
    position: absolute;
    top: 60px;
    right: -60px;
    background: #9ca89e;
    padding: 20px 60px 20px 30px;
    border-radius: 13px;
    opacity: 0;
    
    cursor: pointer;                 
    transition: 0.3s ease-in-out;
    
    visibility: hidden;
}

.menu-log-wrapper:hover .menu-header-abs{
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
}

.menu-log-cta{
    border-radius: 21px !important;
    background: var(--blue) !important;
    color: var(--white) !important;
}

.menu-log-wrapper{
    position: relative;
}

.menu-log-cta.in{
    padding: 10px 30px;
}

.menu-log-cta.out{
    background: var(--darkGreen) !important;
    gap: 6px;
    padding: 10px 30px 10px 25px !important;
}

.menu-links a:hover {
    opacity: .6;
    transition: top 2s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.4s ease;
}

.menu-links a:active {
    opacity: .8;
    transition: top 2s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.4s ease;
}

.menu-logged,
.menu-links a{
    text-decoration: none;
    color:#000;
    font-size: 16px;
    transition: top 2s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.4s ease;
}
.menu-links a{
    color: var(--white);
    font-weight: bold;
}
.menu-links {
    display: flex;
    gap: 20px;
    border-radius: 19px;
    box-shadow: 0 2px 6px rgba(0, 0, 2, 0.08);
    background: #7cb7af17;
    border: var(--header) 1px solid;
    background: black;
    padding: 12px 32px;
}


.menu-links a.active {
    cursor:default;
    position: relative;
    
    color: var(--darkGreen)
}

.menu-links a.active::after {
    content: "";
    border-bottom: 1px solid var(--darkGreen);
    position: absolute;
    bottom: -2px;
    left: 0px;      
    width: 100%; 
    height: 1px;
}

.menu-links a.active.menu-border-left::after {
    left: 20px; 
    width: calc(100% - 20px); 
}



.menu-border-left{
    border-left: 1px gray solid;
    padding-left: 20px;

}



.menu-header-logging-drp{
    display: flex;
    gap: 8px;
    white-space: nowrap;
    padding: 12px 21px 13px 17px;
    background: black;
    border-radius: 30px;
    cursor: pointer; 
    color:white;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
    align-items: center;
}


/* tablet/mobile */
@media (max-width: 790px) {
   .menu-header-logging-drp:not(.mobile){
        display: none;
   }
    .menu-icon{
        z-index: 99999;
        display: block !important;
    }
    
    .menu-log-cta,
    .menu-links{
        display: none !important;
        margin-top: 95px;
    }

    .menu-overlay .menu-log-cta{
        display: block !important;    
        width: fit-content;
        margin: auto auto 122px auto;
        
        align-items: center;
        display: flex !important;
    }
    
    .menu-log-cta.in{
        margin: 290px auto 81px auto;
    }

    .mobile .menu-header-abs {
        opacity: 1;
        visibility: visible;
        left: 0;
        white-space: wrap !important;
        background: none;
        bottom: 0px;
        top: unset;
    }

}




/* auth */
.auth-wrapper{
    display:grid;
    gap:50px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 20px;
}

.auth-wrapper button{
    width: fit-content;
}

.auth-container-item{
    display: flex;
    gap:20px;
    
    flex-direction: column;
}

.auth-container-item form{
    display: flex;
    align-items: center;
}

.auth-grid{
    display: grid;
    gap:20px;
}

.auth-flex{
    display: flex;
    gap:20px;
    margin: 0 auto;
}

h1{
    flex: 1 1 auto;
}

.auth-btn-full{
    width: 100%;
}

.auth-separation-form::after{
    content:"";
    height:1px;
    background: var(--darkGreen);
    width: 100%;
}

.auth-separation-form::before{
    content:"";
    height:1px;
    background: var(--darkGreen);
    width: 100%;
}

.auth-separation-form{
    align-items: center;
    position: relative;
    display: flex;
    margin:auto;
    justify-content: center;
    height: 4px;
    margin:30px;
    
    gap: 1rem;
}

.auth-manual-form{
    padding:20px 30px;
    border:var(--darkGreen) 1px solid;
    gap:30px;
    display: grid;
    border-radius: 4px;
}

@media (max-width: 670px) {
    .auth-container-item form {
        display: grid;
        gap: 14px;
        margin-bottom: 34px;
        justify-content: center;
    } 
    .auth-container-item form div{
        margin: 0;
    }
    .auth-container-item h1{
        justify-content: center;
        display: flex;
    }

    .mobile-grid{
        display: grid;
    }

    .auth-manual-form{
        border: none;
    }

}
